<div class="container-fluid">
  <p class="h3 p-3">{{ serieDetail.name }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ serieDetail.poster }}"
          alt="{{ serieDetail.name }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>ISBN</dt>
        <dd>{{ serieDetail.description }}</dd>
        <hr />
        <dt>Publishing Date</dt>
        <dd>{{ serieDetail.webpage }}</dd>
        <hr />
      </dl>
    </div>
  </div>
 </div>